<form id="userForm">
		<fieldset>
			<legend>Add User</legend>
			<p>First Name: <input id="fname" type="text" name="fname"/></p>
			<p>Last Name: <input  id="lname" type="text" name="lname"/></p>
			<p>Email: <input id="email" type="text" name="email"/></p>
			<p>Company: <select name="company" id="company">
			{{#each companies}}
				<option>{{this}}</option>
			{{/each}}
			</select>
			<p>Password: <input id="password" type="text" name="password"/></p>
			<button type="button">Attach Signature</button>
		</fieldset>
		<input id="addUser" type="submit" name="add" value="Add User" onclick="addRow()" />


</form>

<script src="adminScript.js"></script>
