<!DOCTYPE html>
<html>

<h1>Admin Dashboard</h1>
<p><a href="http://www.phoenixweb3.site:3000/add-user">Add a User</a></p>
<p><a href="http://www.phoenixweb3.site:3000/edit-delete-user">Edit/Delete a User</a></p>
<p><a href="http://www.phoenixweb3.site:3000/add-admin-user">Add Admin User</a></p>
<p><a href="http://www.phoenixweb3.site:3000/edit-delete-admin-user">Edit/Delete Admin User</a></p>
<p><a href="http://www.phoenixweb3.site:3000/awards">Award Reporting</a></p>

</html>

