</br><h1>Create a new award:</h1>

<div id="awardArea">

	<form id="awardEntry">
	 	<div class = "control-group form-group">
		<fieldset>
			<legend>Enter Award Details</legend> 
	
			<label for="award_type">Award Type</label>
			<input type="text" class = "form-control" name="award_type" id="award_type">	
					
			
			<label for="fname">First name</label>
			<input type="text" class = "form-control" name="fname" id="fname">
			
			<label for="lname">Last name</label>
			<input type="text" class = "form-control" name="lname" id="lname">
			
			

			<label for="email">Email</label>
			<input type="text" class = "form-control" name="email" id="email">

			<label for="region">Region</label>
			<input type="text" class="form-control" name="region" id="region">
			
			</br>	
			<input type="submit" class="btn btn-primary" name="awardSubmit" id="awardSubmit" value="Create This Award"> 
			</br>

		</fieldset>
		</div>
		</div>
	</form><br><br>
	<div id="successMessage"></div>

<script src="createAwardScript.js"></script>
