<!DOCTYPE html>
<html>
</br><h1>Edit your profile:</h1>

<div id="profileArea">

	<form id="profile">
	 	<div class = "control-group form-group">
		<fieldset>
			<legend>Change Details</legend> 
	
			<label for="fname">First name</label>
			<input type="text" class = "form-control" name="fname" id="fname">
			
			<label for="lname">Last name</label>
			<input type="text" class = "form-control" name="lname" id="lname">
			
			<label for="email">Email</label>
			<input type="text" class = "form-control" name="email" id="email">

			<label for="newPassword">New Password</label>
			<input type="password" class="form-control" name="newPassword" id="newPassword">
			
			</br>	
			<input type="submit" class="btn btn-primary" name="profileSubmit" id="profileSubmit" value="Update Profile"> 
			</br>

		</fieldset>
		</div>
		</div>
	</form><br><br>
	<div id="successMessage"></div>

<script src="editProfileScript.js"></script>
</html>
