<!DOCTYPE html>
<html>

<body>
</br><h1>Forgot your password?</h1>
<h2>Enter your email below to retrieve your password</h2>

<div id="emailArea">
<fieldset>
	<form id="getPassword">
	 	<div class = "control-group form-group">
		<fieldset>
 <label for="email">Email Address</label>
  <input class="text" name="email" id="email" type="text" /> <br> 
  <input class="radio" type="radio" name="userType" id="regUser" value="regUser" checked>Regular user    
  <input class="radio" type="radio" name="userType" id="adminUser" value="adminUser">Admin user<br>	

  </br>	
  <input class="btn btn-primary" type="submit" id="reqPassword" value="Get password" />
</fieldset>
</form>
<br><br>
	<div id="successMessage"></div>
	<div>
		<a href = "http://www.phoenixweb3.site:3000/login">Back to Main Login</a>
	</div>

<script src="getPasswordScript.js"></script>

</body>
</html>
