<!DOCTYPE html>
<html>

<body>
</br><h1>User Login:</h1>

<div id="loginArea">

	<form id="login" name="login" method="post" action="login">
	 	<div class = "control-group form-group">
		<fieldset>
			<legend>Username and Password</legend> 
  <label for="email">Email Address</label>
  <input class="text" name="email" type="text" />
  <label for="password">Password</label>
  <input name="password" type="password" />
  </br>	
  <input class="btn btn-primary" type="submit" value="Sign In" />
</form>

</br></br>
<a href="http://www.phoenixweb3.site:3000/get-password">Forgot your Password?</a>
<br>
<a href="http://www.phoenixweb3.site:3000/admin-login">Admin User Login Page</a>

</body>
</html>
