<!DOCTYPE html>
<html>
</br>
<h1>Welcome to Employee Recognition!</h1>

<div id="mainArea">
	</br>
	<h3>The easiest way to reward and track high performance</h3>
	</br></br>
	<button id="createAward" class="btn btn-primary">CREATE AN AWARD</button>
</div>

</html>

<script src="userDashboardScript.js"></script>
