</br><h1>Your Awards:</h1></br>

<div id="tableArea">

	<table id="awardTable" class = "table-striped">
	
	</table>
</div>

<div id="buttonArea">
<button id="deleteButton" class="btn btn-primary">Delete Selected Awards</button> 
</div>

<script src="viewDeleteAwardsScript.js"></script>
